.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0;
}
a{
color:black;
text-decoration: none;
font-family: 'ABeeZee', sans-serif;
}
h1{
    color:black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-family: 'ABeeZee', sans-serif;
    }
h2{
        color:black;
        text-decoration: none;
        text-align: center;
        margin-right: 75px;
        padding-top: 1%;
        font-family: 'ABeeZee', sans-serif;
        font-size: 25px;
    }    
h3{
        color:rgb(124, 107, 11);
        text-decoration: none;
        text-align: center;
        margin-right: 75px;
        font-family: 'ABeeZee', sans-serif;
}
.img{
        width : 550px;
        height : 280px;
        margin: 80px;
        margin-right: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
}