*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
}
h1 {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-family: 'ABeeZee', sans-serif;
}

h2 {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    padding-top: 1%;
    font-family: 'ABeeZee', sans-serif;
}

h3 {
    color: rgb(124, 107, 11);
    text-decoration: none;
    text-align: center;
    /* margin-right: 75px; */
    font-family: 'ABeeZee', sans-serif;
}
.titre1 {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    /* margin-right: 20px; */
    font-family: 'ABeeZee', sans-serif;
}
.titre2 {
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* margin-right: 20px; */
    font-family: 'ABeeZee', sans-serif;
    margin: 20px;
}
.titre3 {
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* margin-right: 20px; */
    font-family: 'ABeeZee', sans-serif;
    margin: 20px;
}

/* .couv1 {
    width: 511px;
    height: 763px;
    top: 283px;
    left: 1019px;
    margin-left: 1020px;
    }
.couv2 {
    width: 72%;
    height: 130%;
    top: 394px;
    left: 800px;
    } */

.slid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}